
/* backround-image는 레알 배경이미지로만 씀! 따라서 위에 텍스트 쓰는게 편리해짐 */
.bg{
    width: 1280px;
    height: 720px;
    background-image: url('./roopy.jpeg');
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: cover;
    /* 조금 짤리는 부분이 있더라고 대충 채워주는게 커버 */
    /* background-position: 10px 10px; */
    /* 숫자 순서가 x축 y축 */

    background-position: center;
}