h1{
    color: black;
}

ul.menu >li > a.nav-item.special{
    color: red;
}

main{
    background-color: rgb(202, 202, 202);
}

h2{
    color: black;
    font-size: x-large;
    

}
div#box-1.box{
    background-color: yellow;
    border: 1px solid black;
}

.list-section>ul>li{
    text-decoration: underline;
}


.footer-text{
        color: black;
        &:hover{
            color: orange;
        }
    }

