


a.special{
    color: red;
}

main{
    background-color: lightgray;
}

#box-1{
    background-color: yellow;
    border: 1px solid blue;
}

.selected{
    font-size: 18px;
}

.list-section ul li:nth-child(3){
    text-decoration: underline;
}


.list-section ul li:last-child{
    text-decoration: underline;
}










.footer-text:hover{
color: blueviolet;
}