
.color_box{ 
    background-color: #c53cc3;
}

.color_box > a{
    background-color: #e7d93f;
}

#color_box{
    background-color: #1fb2cd;
}

#color_box .bg{
    background-color: #ff871c;
}


/* css nesting */

/* #color_box{
    background-color: #ff871c;

    .bg{
        background-color: #e7d93f;

    }
}
 */
