

.container{
    width: 70vw;
}

header{
    background-color: hotpink;
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 20px;

}

.logo{
    width: 100px;
    height: 50px;
    background-color: white;
    /* 오파시티=투명도 */
    opacity: .3;
}

.btn{
    width: 50px;
    height: 50px;
    background-color: dodgerblue;
    border: none;
}


.wrap{
    height: 300px;
    display: flex;
    margin-bottom: 20px;


    .left{
        height: 100%;
        background-color: blue;
        flex: 1;
    }
    .right{
        height: 100%;
        background-color:orange;
        flex: 1;
    }

}


/* 여기 박스 부분 사이즈!!! */
.list_box{
    list-style: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 30px;
   
    
.box{
    background-color: skyblue;
    max-width: 20px;
    height: 50px;

}
}

.footer{
    height: 100px;
    background-color: gray;
}