

h1 {
  text-align: center;  /* 수평 중앙 정렬 */
  margin: 30px 0 0 0;

}


.popup{
  /* display: none; */
  position: fixed;
  left: 50%;
  top: 50%;
  translate:-50% -50%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* 그림자 효과 */
}



.img1{
    display: flex;  
    /* margin-left: 400px;
    margin-bottom: 50px;
    margin: 0 aurt; */
}

.container{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.description {
  margin-bottom: 60px;
}


.phone {
    background-color: #ffdd80; 
}


  .my li{
      margin-left: 20px;
      margin-bottom: 10px;
  }

.my :last-child{
  list-style: none;
}


  .text_01, .text_02, .text_03 {
    text-align: center;
    margin-bottom: 10px;
  }

  .footer{
    background-color: #191919;
    color: white;
    height: 300px;
  }


.list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.list2{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


.Tool{
    font-size: 30px;
    margin-right: 80px;
}


.tools{
  margin-left: 20px;
}


.list_{
  margin-left: 20px;

}


.Contact{
    font-size: 30px;
    margin-right: 80px;

}

/* Figma, Photoshop, Illustrator, Premiere Pro에만 hover 효과 적용 */
.tools:hover {
    color: #ffdd80;
}


.list_:hover {
    color: #ffa743;
}


/* font */
  
  .footer {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  





