
:root{
    --primary: #d1ff00;
    --space-5: 20px;
}


.boxes{
    width: 200px;
    height: 200px;

}

.box01{
    background-color: red;
/*     margin: 30px;

    margin-bottom: 30px;
 */
/*     margin: 10px 20px; */
}

.box02{
    background-color: orange;
    padding: 30px;
    box-sizing: border-box;
}

.box03{
    background-color: dodgerblue;
    border: 5px solid var(--primary);
    border-radius: var(--space-5) 20px 30px 40px;
    box-sizing: border-box;
}

.box04{
    background-color: hotpink;
    border: 10px solid black;
    box-sizing: border-box;
}