


.pop{
    
    width: 100vw;
    height: 100vh;  
    background-color: rgba(0, 0, 0, 0.38);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    
    .contents{
        width: 500px;
        height: 400px;
        background-color: #fff;
        border-radius: 10px;
        /* position: absolute;
        left: 50%;
        top: 50%;
        translate:-50% -50%; */
    }
}


h1{
    margin: 0;
}

.title{
    margin-top: 15px;
}


.destination{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title-container{
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column; /* 세로로 정렬 (h1, p 태그가 위아래로 정렬됨) */
    justify-content: center; /* 세로 방향으로 가운데 정렬 */
    align-items: center; /* 가로 방향으로 가운데 정렬 */
    margin-top: 100px;
    margin-bottom: 50px;
}


.group{
    display: flex;
    /* position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%; */
}


.accent{
    border: 1px solid red;
}


.sea img{
    width: 300px;
    height: 200px;
    object-fit: cover; 
    border-radius: 10px;
    margin-top: 10px;
}


.title01{
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.subtitle01{
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.text01{
    position: relative;
    padding-top: 20px;
    list-style: none;
    padding: 0;
    margin: 10px;
    max-width: 280px;
}

.text01 li:first-child {
    margin-bottom: 5px;
  }

  .text01 li {
    position: relative;
    display: inline-block;
    display: flex;
  }


  .text01 .box {
    width: 70px;
    height: 35px;
    background-color: dodgerblue;
    border-radius: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    translate:0% -50%;

  }



.number {
    position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
    font-size: 18px;
    font-weight: bold;
    color: white
}



.card_container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 300px;
    border-radius: 10px;
}



.card_container:hover {
    background-color: #f0f8ff; /* 배경색 변경 */
    outline: 3px solid deepskyblue; /* 아웃라인 색 변경 */
    outline: 3px solid dodgerblue;
}




