
/* 태그 선택자 */
div {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin-bottom: 10px;
  }

  /* 아이디 선택자 */
  #box{
    background-color: dodgerblue;
  }

/* 클래스 선택자 */
  .box{
    background-color: hotpink;
  }

  /* 속성 선택자 */
  div[name="tiger"]{
    background-color: red;
  }


/* 수도 선택자 */
.box:hover{
  background-color: black;
}


input:focus{
  background-color: skyblue;
}

a:visited{
  color: blueviolet;
}
 