

main{
    background-color:lightgrey;
}
.menu{
    color:blue;
    .nav-item.special{
        color: red;
    }
}

/* 이때 동일 클래스 이름이 있어서 아이디를 씀 */
.content{
    #box-1{
        background-color:yellow;
        border: 1px solid violet;
        box-sizing: border-box;
    }
}


.selected{font-size: 20px;
}

.footer-text:hover{
    color: aqua;
}