


.nav-item.special {
color: red;
}


/* 강조할 때 html코드에 accent 붙여서 빠르게 강조 가능
.accent{
    color: red;
} */

main{
    background-color: rgb(191, 191, 191);
}

#box-1{
    background-color: yellow;
    border: 2px solid blue; 
}

.selected{
    font-size: 20px;
}

ul li:last-child {
    text-decoration: underline;
}

.footer-text:hover {
    color: yellow;
    background-color: black;
}