

h1{
    color: red
    ;
}

.first{
    font-size: 30px;
    color: orange;
}

.second{
    font-size: 15px;
    color: dodgerblue;
}

/* a{
    color: inherit;
} */

/* a{
    text-decoration: none;
} */



.list{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    list-style: none;
    height: 150px;
    overflow-y: scroll;
}

.item01{
    width: 100px;
    height: 100px;
    background-color: dodgerblue;
}

.item02{
    width: 100px;
    height: 100px;
    background-color: orange;
}

.item03{
    width: 100px;
    height: 100px;
    background-color: hotpink;
}