
/* css에서 띄어쓰기 : ~ 안에 있는 */
/* 띄어쓰기 x > 함께 가지고 있는 */

.list{
    background-color: dodgerblue;
}


/* 자식 선택자 "리스트 클래스 안에 있는 첫 번째 자식 Li를 좀 찾아봐" */

/* .list li:nth-child(1){
    background-color: hotpink;
} */


/* 친자식 선택자 */
.list > li:nth-child(1){
    background-color: hotpink;
}


/* 리스트 클래스 안에 있는 모든 메뉴 클래스 찾자! */
/* .list .menu{
    background-color: orange;
} */


/* 리스트 클래스 안에 있는 친자식 메뉴 클래스 찾자! */
/* .list > .menu{
    background-color: orange;
} */


/* 리스트 클래스와 메뉴 클래스를 함께 가지고 있는 대상을 찾자! */
.list.menu{
    background-color: orange;
}


#depth{
    background-color: greenyellow;
}


.menu{
    background-color: darkblue !important;
}


div.menu{
    background-color: salmon;
}

/* css nesting > 둥지 */
/* .container{
    .paragraph{
        background-color: orange;
    &:hover{
        background-color: green;
    }
    }
} */


