:root{
    /* font-size: 20px; */
}

body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }

  h1{
    font-size: 1.6rem;
    /* 기본 html 16px, 1rem= */

  }