

header{
    display: flex;
    
    div{
        border: 1px solid black;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

h1{
    background-color: #a3ff0e;
}

.class{
    background-color: #90c7fe;
}